// Varibles
$color_1: #1b2128;
$color_2: #212931;
$color_3: #c483dd;
$color_4: #63aec0;
$color_5: #e25959;
$color_6: #85ba86;
$color_7: #b877b4;
$color_8: #e5e5e5;

// Fonts
@font-face {
  font-family: nerdIosevka;
  src: url("../fonts/Iosevka Nerd Font Complete.ttf") format("truetype");
}
